.gradle
.classpath
.project
.settings
/bin/
LIDC-XML-only
dicom
pkg
dicom-segmented
build
segmented
documentation/_book
documentation/node_modules
venv
.vagrant
ClusterSoftware
hugo.pid
documentation/bower_components
documentation/public
*.pid
sc-env
analysis/*.csv
analysis/*.png
