@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.hero {
      height: 400px;
      background-color: #0078A0;
      background-size: cover;
      width: 100%;
}

.intro-text {
            font-size: 50px;
            color: #fff;
            text-align: center;
            margin-top: 15%;
            
}

pre {
    @include callout();
     background-color: #E6E6E6;
}
code {
  border: none;
}    

.active {
	background: #2199E8 none repeat scroll 0% 0%;
	color: #FFF;
  padding: 2pt;
}

nav {
    ul {
    @include menu-nested();
        
    }
}
.nest {
    li {
        ul {
            @include menu-nested(2rem);
        }
    }
}
